.titles-btn2 {
    width: 120px;
    border-radius: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 0.5rem;
    border: 0px;
    background-color: rgb(204, 222, 249);
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.1s ease;
    box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px,
        rgb(0 0 0 / 30%) 0px 1px 3px -1px;
}
p {
    display: flex;
}
.tileImg {
    max-width: 100%;
    max-height: 100%;
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
}
.titles-btn {
    height: 35px;
    width: 120px;
    border-radius: 30px;
    margin-bottom: 1rem;
    border: 0px;
    background-color: rgb(204, 222, 249);
    color: rgb(15, 15, 15);
    text-transform: uppercase;

    letter-spacing: 1px;
    transition: all 0.1s ease;
    box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px,
        rgb(0 0 0 / 30%) 0px 1px 3px -1px;
}
.tiles {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.tile {
    display: flex;
    height: 13rem;
    width: 100%;
}
.tiles-picture {
    max-width: 100%;
    max-height: 100%;
    width: 10rem;
    height: 10rem;
    margin-top: 1rem;
    margin-left: 1rem;
    border-radius: 100%;
    background-color: blueviolet;
}
.tiles-list {
    display: flex;
    padding-right: 2rem;
    flex-direction: column;
    margin-bottom: 1rem;
    justify-content: flex-end;
}
.tiles-edit {
    display: flex;
}
.tiles-address {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}
.tiles-address__heading {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    text-transform: uppercase;
}
.ahoj {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
