$border-color: #d0e2f9;

.main-content {
    width: 100%;
    height: 100vh;
}

.dashboard {
    display: grid;
    margin-top: 3rem;
    grid-template-columns: 20% 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        "properties cashflow reports"
        "properties . .";
}

.dashboard__cashflow {
    grid-area: cashflow;
}

.dashboard__reports-container {
    overflow: hidden;
    // height: 3rem;
    background-color: #1877f2b2;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;

    &__links {
        background-color: rgb(40, 40, 40);
        font-size: larger;
        letter-spacing: 1px;
        border: none;
        outline: none;
        padding: 14px 16px;
        transition: 0.3s;
        text-transform: uppercase;
        color: white;
        &--active {
            background-color: rgb(60, 60, 60);
            font-size: larger;
            letter-spacing: 1px;
            border: none;
            outline: none;
            padding: 14px 16px;
            transition: 0.3s;
            text-transform: uppercase;
            color: white;
        }
    }

    &__links:hover {
        background-color: rgb(75, 75, 75);
        color: white;
    }
}

.dashboard__properties {
    grid-area: "area-1";
    border: 1px solid $border-color;
    border-radius: 15px;
    overflow: hidden;
    height: auto;
    overflow-y: scroll;
}
