.apartment{
 font-family: "Nunito";

 button {
     font-family: "Nunito";
     font-weight: bold;
 }}
.tile-btn3 {
    height: 50px;
    width: 160px;
    border-radius: 30px;
    margin-bottom: 1rem;
    border: 0px;
    background-color: rgb(0, 101, 141);
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 1.5px;
    transition: all 0.5s ease;
    box-shadow: rgb(50 50 93 / 45%) 0px 2px 5px -1px,
        rgb(0 0 0 / 30%) 0px 1px 3px -1px;
}
.tile-btn3:hover {
    background-color: rgb(58, 57, 57);
}
