.property__heading {
    width: 100%;
    text-align: center;
    margin: 1rem 0 2rem;
    // color: #12476f;
    @media (max-width:1100px) {
        padding-top: 7rem;
    }
}
 
.property {
   
    text-transform: uppercase;

    &__info {
        margin: 3rem auto;
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        // padding: 1rem;
        justify-items: center;
        align-items: center;
        border-radius: 15px;
        box-shadow: 0 0 15px #999;
        overflow: hidden;
        border: 0.5px solid #12476f;
        // max-height: 800px;

        &-img {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            border-right: 0.5px solid #12476f;
            max-height: 450px;

            img {
                width: 140%;
            }
        }
        &-details {
            width: 90%;
            padding: 2rem;
            display: flex;
            flex-direction: column;

            justify-content: center;
            align-content: space-between;
            text-align: center;

            color: #fff;

            // font-family: "Gill Sans MT";

            &-top {
                display: flex;
                justify-content: center;
                padding: 1rem;
                color: #273655;
            }
            &-buttom {
                display: flex;
                width: 100%;
                justify-content: space-around;
                padding: 1rem;
                color: #273655e0;

                &-left {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    &-area {
                        color: #4285f4;

                        font-weight: 600;
                    }
                    // text-align: center;
                }
                &-right {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    // text-align: center;

                    &-tenant {
                        color: #4285f4;
                        font-weight: 600;
                    }
                }
                &-buttons {
                    margin: 0 auto;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    // gap: 5px;

                    &-link {
                        text-decoration: none;
                        display: flex;
                        justify-content: center;
                    }

                    .log-buttons_property {
                        padding: 2rem;
                        display: flex;
                        width: 90%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
    &__about {
        display: flex;
        flex-direction: column;
        padding: 3rem;
        &-details {
        }
    }
}

@media (max-width: 800px) {
    .property__info {
        display: flex;
        flex-direction: column;
        &-img {
            width: 100%;
            border-bottom: 0.5px solid #12476f;
        }

        &-details {
            &-buttom {
                justify-content: center;
                gap: 2rem;
            }
        }
    }
}

.tab {
    overflow: hidden;
    height: 5rem;
    background-color: #1877f2b2;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;

    &__links {
        background-color: rgb(40, 40, 40);
        font-size: larger;
        letter-spacing: 1px;
        border: none;
        outline: none;
        padding: 14px 16px;
        transition: 0.3s;
        text-transform: uppercase;
        color: white;
        &--active {
            background-color: rgb(60, 60, 60);
            font-size: larger;
            letter-spacing: 1px;
            border: none;
            outline: none;
            padding: 14px 16px;
            transition: 0.3s;
            text-transform: uppercase;
            color: white;
        }
    }

    &__links:hover {
        background-color: rgb(75, 75, 75);
        color: white;
    }
}
