.property{
  text-transform: uppercase;


    &__info{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 3rem;

        &-img{

        }
        &-details{
            padding: 5rem;
            display: grid;
            grid-template-rows: 1fr 1fr;;
            &-top{
              text-align: center;
            }
            &-buttom{
              display: flex;
              flex-direction: row;
              justify-content: space-between;
             
                &-left{
                  text-align: center;
                }
                &-right{
                  text-align: center;
                }
            }
        }
    }
    &__about{
        display: flex;
        flex-direction: column;
        padding: 3rem;
        &-details{
           
        }
    }
}

.tab{
    overflow: hidden;
    height: 5rem;
    background-color: #1877F2B2;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    
&__links {
    background-color: rgb(40, 40, 40);
    font-size: larger;
    letter-spacing: 1px;
    border: none;
    outline: none;
    padding: 14px 16px;
    transition: 0.3s;
    text-transform: uppercase;
    color:white;
    &--active{
        background-color: rgb(60, 60, 60);
        font-size: larger;
        letter-spacing: 1px;
        border: none;
        outline: none;
        padding: 14px 16px;
        transition: 0.3s;
        text-transform: uppercase;
        color:white;
    }
} 

&__links:hover{
    background-color: rgb(75, 75, 75);
    color:white;
}

}