.property{



    &__info{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 3rem;
        &-img{

        }
        &-details{
            display: grid;
            grid-template-rows: 1fr 1fr;
            &-top{

            }
            &-buttom{
                &-left{

                }
                &-right{

                }
            }
        }
    }
    &__about{
        display: flex;
        flex-direction: column;
        padding: 3rem;
        &-details{
           
        }
    }
}

/* Стиль вкладок */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Стиль кнопок внутри вкладок */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Изменение цвета фона кнопок при наведении курсора мыши */
.tab button:hover {
  background-color: #ddd;
}

/* Создание активного/текущего класса связей вкладок */
.tab button.active {
  background-color: #ccc;
}

/* Стиль содержимого вкладки */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}