.fieldset {
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-left: 0;
  min-inline-size: min-content;
  border-width: 0;
  border-style: none;
  border-color: none;
  border-image: none;
}
.fieldset-date {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.basic-contents {
  display: flex;
  justify-content: center;
}
