.h4 {
    display: flex;
    text-transform: uppercase;
    font-size: 1.6rem;
    justify-content: center;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.listings-content {
    width: 85%;
}

.box {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.pubListings {
    display: flex;
}
.card {
    background-color: rgb(255, 255, 255);
    align-items: center;
    border-radius: 0.9rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin-bottom: 2rem;
    padding: 0.5rem;
}

.listings-main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 10px;
    background-color: rgb(248, 248, 248);
}
.inputField {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
.fieldset {
    border-width: 0;
    display: block;
    margin-inline-end: 2px;
    margin-inline-start: 2px;
    min-inline-size: min-content;
    padding-block-end: 0.625em;
    padding-block-start: 0.35em;
    padding-inline-end: 0.75em;
    padding-inline-start: 0.75em;
}
/* -------------------date------------------------ */
.fieldset-date {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 500px;
}
.date-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/* ----------------------power--------------------- */

.fieldset {
    display: block;
    padding-left: 0;
}
.fieldset-label {
    font-weight: bold;
    line-height: 1.5;
}
.uploadPDF-button {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.fieldset-item {
    display: flex;
    width: 12.5rem;
    flex-direction: column;
    justify-content: flex-end;
}
.fieldset-dropdown {
    margin-bottom: 0.6rem;
}

@media (max-width: 700px) {
    .card {
        width: 90%;
    }
    .checkbox-content {
        margin: 0;
    }
}
