.fieldset-item {
    display: flex;
    width: 12.5rem;
    flex-direction: column;
}

.selectDate {
    border-radius: 0.25rem;
    border: 1px solid #c4c4c4;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: #000;
    display: flex;
    font-size: 0.875rem;
    line-height: 1.57;
    line-height: 2.3125rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    outline: none;
    width: 100%;
}
