
.fieldset-date {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 500px;
}
.date-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
