$border-color: #d0e2f9;
.dashboard__properties-item {
    display: flex;
    border-bottom: 0.5px solid $border-color;
    padding: 1rem;
    justify-content: center;
    align-items: center;

    &:last-child {
        border: none;
    }
    .properties-item__left {
        width: 50%;

        .properties-item__left-img-container {
            width: 140px;
            height: 140px;

            border-radius: 100%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            .left-img-container__image {
                width: 170%;
            }
        }
    }

    .properties-item__right {
        width: 50%;
        color: #273655;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .properties-item__right-details-link {
            width: 100%;
            text-decoration: none;
            display: flex;
            // justify-content: center;
            align-items: center;
        }
    }
}

@media (max-width: 1280px) {
    .dashboard__properties-item {
        .properties-item__left {
            .properties-item__left-img-container {
                width: 110px;
                height: 110px;
            }
        }
    }
}
