.footer_container {
    position: relative;
    z-index: 3;
}
.footer {
    a {
        color: black;
    }

    // bottom: 0;
    // height: 100px;
    display: grid;
    grid-template-columns: 6fr 6fr;

    &__logo {
        max-width: 100%;
        height: auto;
        margin-left: 1rem;
    }
    &__links {
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;
        &-social {
            display: flex;
            align-items: center;
            &-icons {
                margin-left: 1rem;
            }
        }
        &-location {
            margin-left: 4rem;
        }
    }
}

.hr {
    border: 1px solid black;
}
