.footer-container {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
    padding: 1rem;
    gap: 1rem;
    border-top: 0.5px solid #ccc;

    .footer__first-row {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        // align-items: center;
        .footer__logo-smartrentals {
            width: 45%;
        }
        .footer__social-links {
            display: flex;
            gap: 1rem;

            .social-links__item {
                width: 13%;
            }
        }
        .footer__copyright {
            font-size: 0.6rem;
        }
    }
    .footer__heading {
        margin-bottom: 1.5rem;
    }

    .footer__link {
        line-height: 2;
        cursor: pointer;
    }
}

@media (max-width: 768px) {
    .footer-container {
        grid-template-columns: repeat(6, 1fr);

        .footer__first-row {
            grid-column: span 3;
            .footer__logo-smartrentals {
                width: 30%;
            }
        }

        .footer__second-row {
            grid-column: span 3;
        }

        .footer__third-row {
            grid-row: 1;
            grid-column: span 2;
        }
        .footer__fourth-row {
            grid-row: 1;
            grid-column: span 2;
        }
        .footer__fifth-row {
            grid-row: 1;
            grid-column: span 2;
        }
    }
}

@media (max-width: 480px) {
    .footer-container {
        font-size: 0.8em;
        gap: 0;
        .footer__first-row {
            .footer__logo-smartrentals {
                width: 50%;
            }
        }
    }
}
// .footer_container {
//     position: relative;
//     z-index: 3;
// }
// .footer {
//     bottom: 0;
//     display: grid;
//     grid-template-columns: 6fr 6fr;
//     height: 100px;

//     a {
//         color: black;
//     }
//     //
//     //
//     &__logo {
//         height: auto;
//         margin-left: 1rem;
//         max-width: 100%;
//     }
//     &__links {
//         align-items: center;
//         display: flex;
//         display: grid;
//         grid-template-columns: 1fr 1fr 1fr 1fr;
//         justify-content: space-between;

//         //
//         //
//         //
//         &-social {
//             align-items: center;
//             display: flex;

//             &-icons {
//                 margin-left: 1rem;
//             }
//         }
//         &-location {
//             margin-left: 4rem;
//         }
//     }
// }
// .hr {
//     border: 1px solid black;
// }
