@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500&display=swap");
body {
    margin: 0;
    padding: 0;
}

.navbar.navbar_home {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    grid-template-columns: 2fr 3fr 2fr;
    z-index: 2;
    position: fixed;
    &__buttons {
        display: flex;
        flex-direction: column;
    }
    .navbar__links {
        margin-top: 0.4rem;
    }
    @media (max-width: 1100px) {
        display: none;
    }
}


.navbar.navbar_owner {
    grid-template-columns: 1fr 3fr 0.1fr;
    z-index: 1;
    background-color: #273655e0;
    height: 85px;
    width: 100%;
    display: grid;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1.5rem;
   
    @media (max-width: 1100px) {
        display: none;
    }
}
///FOR EACH NAVBAR
.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    height: 85px;
    width: 100%;
    display: grid;
    text-transform: uppercase;
    letter-spacing: 1px;

    &__logo {
        padding: 1rem;
    }

    &__links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1.8rem;
        color: white;
        align-items: center;

        & a {
            text-decoration: none;
            color: white;
        }
        & a:hover {
            cursor: pointer;
            color: lightblue;
        }

        & span {
            // font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: 0em;
            text-align: left;
        }
    }

    &__buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        // margin-left: auto;
        // margin-top: 3rem;
        // margin-right: 2rem;
    }
}
.navbar .navbar:hover {
    animation-name: background_navbar;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

// .navbar {
//     animation-name: background_navbar_back;
//     animation-duration: 2s;
//     animation-fill-mode: forwards;
// }

// @keyframes background_navbar {
//     from {
//         background-color: rgba(0, 0, 0, 0.5);
//     }
//     to {
//         background-color: rgba(0, 0, 0, 0.8);
//     }
// }
// @keyframes background_navbar_back {
//     from {
//         background-color: rgba(0, 0, 0, 0.8);
//     }
//     to {
//         background-color: rgba(0, 0, 0, 0.5);
//     }
// }

.visible {
    display: fixed;
}

.hidden {
    display: none;
}

/// MOBILE VIEW
///
///
.menu-container{

    width: 100%;
    height: 85px;
    background-color: #273655e0;
    display: none;
    @media (max-width: 1100px) {
        display: block;
        z-index: 2;
        position: fixed;
        margin-top: -1rem;
    }
    
}
.header-menu {
    display: none;
    @media (max-width: 1100px) {
        display: block;
    }
    
}

.bm-burger-button {
    position: fixed;
    left: 10px;
    top: 20px;
    z-index: 1;
    width: 50px;
    height: 30px;
    margin-top: 0.9rem;
    padding: 0px;
    border: none;
    font-size: 0px;
    background: transparent;
    cursor: pointer;

    .bm-burger-bars {
        background-color: black;
        & span {
            margin: 3px;
            background-color: white;
        }
    }
}

.bm-menu-wrap {
    background-color: rgb(204, 222, 249, 1);
}
.bm-overlay {
    background-color: rgba(2, 2, 2, 0.5);
}
.bm-menu {
    padding-top: 1rem;
    padding-left: 2rem;
}
.bm-item {
    font-family: "Roboto" sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: 500;
    margin: 2rem;
    // text-align: center;
    & p:hover {
        color: gray;
    }
}
.bm-cross-button {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 8px;
    top: 8px;

    .bm-span {
        position: absolute;
        top: 6px;
        right: 14px;
    }
    .bm-cross-1 {
        position: absolute;
        width: 3px;
        height: 14px;
        transform: rotate(45deg);
    }
    .bm-cross-2 {
        position: absolute;
        width: 3px;
        height: 14px;
        transform: rotate(-45deg);
    }
}
#react-burger-cross-btn {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: none;
    font-size: 0px;
    background: transparent;
    cursor: pointer;
}

.log-button {
    height: 35px;
    width: 120px;
    border-radius: 30px;
    margin: 0.2rem;

    border: 0px;
    background-color: rgb(145, 184, 242);
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;

    @media (max-width: 1000px) {
        margin: 0.1rem 0.2rem;
    }
}

.log-button:hover,
.log-button:focus {
    background-color: lightblue;
    color: black;
}
.log-button:active {
    background: #09223b;
    color: rgb(255, 255, 255, 0.7);
}
.log-button:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, 0.08);
    color: rgba(0, 0, 0, 0.3);
}
